   <div class="row">
                        <div class="col-md-12">
                            <div class="divider-new">
                                <h2 class="h2-responsive">About Us</h2>
                              
                            </div>

                              <p> We are just a team of people who like to go thru life in t-shirts. 
                                Our goal is to have fun, laugh, look good, feel comfortable, get good jobs while rocking a t-shirt </p>
                   
                            </div>
                        </div>
                          <!--First row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="divider-new">
                                <h2 class="h2-responsive">Stalk Us</h2>
                              
                            </div>

                              <p> Stalk Us, Pook Us, Follow us, or tweet.Check us out on Facebook, Twitter, tumblr and Pintrest! See what we're up to and get hip to deals.</p>

                            <div class="pull-right">
                              <div class="col-xs-6 col-sm-3 col-no-padding">
                              <a href="https://www.facebook.com/tshirthustle">
                                <img class="thumbnail img-responsive" src="img/btn_facebook_circle.png">
                              </a>
                                
                              </div>
                              <div class="col-xs-6 col-sm-3 col-no-padding">
                               <a href="https://www.pinterest.com/tshirthustle">
                                <img class="thumbnail img-responsive" src="img/btn_pinterest_circle.png">
                                </a>
                              </div>
                              <div class="col-xs-6 col-sm-3 col-no-padding">
                               <a href="https://www.Twitter.com/tshirthustle">
                                <img class="thumbnail img-responsive" src="img/btn_twitter_circle.png">
                                </a>
                              </div>
                   </div>
                   
                            </div>
                        </div>