   <div class="col-4">
            <div class="beta-banner">
                    <a href="custom_callout_box.html"><img class="h164" src="img/banner9.jpg" alt=""></a>
            </div>
    </div>
    <div class="col-4">
            <div class="beta-banner">
                    <a href="custom_callout_box.html"><img class="h164" src="img/banner10.jpg" alt=""></a>
            </div>
    </div>
    <div class="col-4">
            <div class="beta-banner">
                    <a href="custom_callout_box.html"><img class="h164" src="img/banner11.jpg" alt=""></a>
            </div>
    </div>
