    <div class="col-4 wow fadeInDown">
        <div class="beta-banner">
            <a target="_blank" href="http://www.shareasale.com/r.cfm?b=494487&amp;u=1014588&amp;m=14592&amp;urllink=&amp;afftrack=">
                <img src="http://static.shareasale.com/image/14592/growbo.jpg" border="0" alt="CrazyDogTshirts.com!" />
            </a>


        </div>
    </div>
    <div class="col-4 wow fadeInDown">
            <div class="beta-banner">
                    <a target="_blank" href="http://www.shareasale.com/r.cfm?b=665409&amp;u=1014588&amp;m=5108&amp;urllink=&amp;afftrack="><img src="http://static.shareasale.com/image/5108/unpublished600x315FB.jpg" border="0" /></a>
            </div>
    </div>
    <div class="col-4 wow fadeInDown">
            <div class="beta-banner">
            <iframe width='286' height='125' src='http://www.sunfrogshirts.com/widget/sfwidget_sm.cfm?25110&ct=19,24,35,12,71,20,62,13,11,&key=&btn=1&btntxt=Buy Now' frameborder='0' allowfullscreen scrolling='no'></iframe>

            </div>
    </div>
