<div ng-if="product.productList.length == 0">
    <h2>No Results found</h2>
</div>

<div ng-if="product.productList.length > 0" tagged-infinite-scroll="product.getMore()">
    <h2>{{_self.header}}</h2>
    <!-- code to render a large video block-->
    <div ng-repeat="items in product.productList" class="row">
 <div ng-repeat="item in items" >
                    <!--First columnn-->
                        <div class="col-sm-4 card-item">
                            <!--Card-->
                            <div class="card ">

                                <!--Card image-->
                                <div class="view overlay hm-white-slight">
                                    <img src="{{ item['Big Image'] }}" class="img-fluid" alt="">

                                    <a target="_blank" href="/detail/{{ item.productId }}"> 
                                        <div class="mask"></div>
                                    </a>
                                </div>
                                <!--/.Card image-->

                                <!--Card content-->
                                <div class="card-block">
                                    <!--Title-->
                                    <h4 class="card-title">{{ item.Name }}</h4>
                                    <!--Text-->
                                    <p class="card-text">{{ item['Short Description']  }}</p>
                                      <a class="btn btn-primary" href="{{ item.Link}}"> 
                                        Buy now for ${{ item.Price }}
                                    </a>
                                </div>
                                <!--/.Card content-->

                            </div>
                            <!--/.Card-->
                        </div>
                 
                        <!--First columnn-->
                        

  <!--<div class="addthis_native_toolbox"></div>-->

<!--
        <div ng-repeat="item in items" >
            <div class="col-sm-3">
                <div class="single-item">
                    <div class="single-item-header">
                        <a target="_blank" href="{{ item.Link }}"><img src="{{ item['Big Image'] }}" alt="{{ item.Name }}"></a>
                    </div>
                 
                    <div class="single-item-body">
                        <p class="single-item-title">{{ item.Name }}</p>
                        <p class="single-item-price">
                            <span>${{ item.Price }}</span>
                        </p>
                    </div>
                    <div class="single-item-caption">
                        <a class="add-to-cart pull-left" href="{{ item.Link }}" target="_blank"><i class="fa fa-shopping-cart"></i></a>
                        <a class="beta-btn primary" href="{{ item.Link }}" target="_blank">Details <i class="fa fa-chevron-right"></i></a>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>

        </div>
-->

        </div>

    </div>

</div>

					