
<div ng-if="productList.length == 0">
    <h2>No Results found</h2>
</div>

<div ng-if="productList.length > 0" tagged-infinite-scroll="getMore()">
    <h2>{{header}}</h2>
    <!-- code to render a large video block-->
    <div ng-repeat="items in productList" class="row">
        <div ng-repeat="item in items" >
            <div class="col-sm-3">
                <div class="single-item">
                    <div class="single-item-header">
                        <a href="{{ item.Link }}"><img src="{{ item['Big Image'] }}" alt="{{ item.Name }}"></a>
                    </div>
                    <div class="single-item-body">
                        <p class="single-item-title">{{ item.Name }}</p>
                        <p class="single-item-price">
                            <span>${{ item.Price }}</span>
                        </p>
                    </div>
                    <div class="single-item-caption">
                        <a class="add-to-cart pull-left" href="{{ item.Link }}"><i class="fa fa-shopping-cart"></i></a>
                        <a class="beta-btn primary" href="{{ item.Link }}">Details <i class="fa fa-chevron-right"></i></a>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

					