 <h4>What's Hot:</h4>
                        <br>

                  <div class="list-group">
                    <div class="ist-group-item">
                        <a target="_blank" href="http://shareasale.com/r.cfm?b=1002058&u=1014588&m=49310&urllink=&afftrack=" > 
                          <img src="../img/Grad_Promo_336x280.jpg" alt="Grads" width=100%>
                        </a>
                      </div>
                   
                       	 <div class="ist-group-item">
                          <a target="_blank" href="http://shareasale.com/u.cfm?d=411761&m=37966&u=1014588&afftrack" > 
                            <img src="../img/RD32_300x2502.jpg" alt=" Coupon - 15% Off All Star Wars Apparel - FORCE" width=100%>
                          </a>
                       	</div>
                      </div>
